<div class="row">
    {{#each notes}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center" id="city-name">
                    {{ title }}
                </h4>

                <div class="">
                    <div class="">
                        <div class="" id="time-zone">{{ timeZone }}</div>
                        <div id="country" class="">{{ countryCode }}</div>
                    </div>
                    <div class="">

                        <div class="" id="current-weather-items">

                            <img src="http://openweathermap.org/img/wn/{{ imgCode }}.png" alt="weather icon"
                                class="w-icon">
                            <div class="temp">Night - {{nightTemp}}°C</div>
                            <div class="temp">Day - {{dayTemp}}°C</div>

                        </div>
                    </div>
                </div>

                <form action="/notes/delete/{{id}}?_method=DELETE" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger btn-block btn-sm" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <h1>Hello {{user.name}}</h1>
            <p class="lead">
                No hay ciudades.
            </p>
            <a href="/notes/add" class="btn btn-success btn-block">Cree una!</a>
        </div>
    </div>

    {{/each}}
</div>